/*
    CSS only for the landing script
*/

body {
    overflow-y: scroll;
    /* background: linear-gradient(#004c4c var(--page-height), #fff 95%); */
    background-image: linear-gradient(
        #004c4c var(--page-height),
        #00aeae 80%,
        #fff 90%
    );
}

#body-background, #introduction-bkg{
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
}

.js-on #body-background {
    opacity: 0.2;
}

.js-on .slide-show #introduction-bkg{
    opacity: 1;
    transform: scale(1);
    filter: brightness(0.7);
}

/* #logo .image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 2/ 1; // auto-height 
    transition: background-image 500ms ease;
} */

#introduction, #introduction-bkg {
    background-color: transparent;/*#171717; #254039;*/
    /* background-image: url("./img/first-slide.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#introduction-bkg{
    height: 100%;
    transform: scale(1.4);
    transition-duration: 6s;
}

@media (min-width: 3024px) {
    #introduction-bkg {
        background-image: url("./img/introduction/3024.png");
    }
}

@media (max-width: 3024px) {
    #introduction-bkg {
        background-image: url("./img/introduction/1850.png");
    }
}

@media (max-width: 1850px) {
    #introduction-bkg {
        background-image: url("./img/introduction/1295.png");
    }
}

@media (max-width: 1295px) {
    #introduction-bkg {
        background-image: url("./img/introduction/1036.png");
    }
}

@media (max-width: 1036px) {
    #introduction-bkg {
        background-image: url("./img/introduction/725.png");
    }
}

@media (max-width: 725px) {
    #introduction-bkg {
        background-image: url("./img/introduction/485.png");
    }
}

.center-box.vertical, .bottom{
    z-index: 20;
}

.center-box.vertical .horizontal-box {
    /* width: 90%; */
    margin: 0 9%;
}

.text-box {
    font-family: var(--main-font);
}

.container.spec_bloc .inline-box:first-child {
    margin-right: 10%;
}

.illustration {
    width: 48%;
}

.container .vertical.center-box {
    width: 100%;
}

.table-box.text-box .h2_2 {
    vertical-align: middle;
    padding-left: 10px;
    font-size: 30px;
    color: var(--color-1);
}

.index {
    color: var(--secondary-color);
    font-size: 90px;
}

.block-box {
    width: 100%;
}

.container[data-view="5"] .panorama-box {
    margin: 20px 0;
}
.container[data-view="5"] .square-img {
    width: 300px;
    background-color: #171717;
    border-radius: 10px;
    overflow: hidden;
}

.quote span {
    display: block;
}

#pre-inscription {
    padding: 50px 0;
}

#pre-inscription table {
    margin: auto;
    display: block;
    width: 80%;
}

#pre-inscription input:not(form input[type="submit"], form input[tye="reset"]) {
    width: 100%;
    display: inline-block;
}

#pre-inscription form {
    width: 50%;
    margin-left: 10%;
}



header {
    transition: all 150ms ease-out;
}

header.top {
    background: transparent;
    box-shadow: unset;
}

header.scroll {
    background: #fff;
}

/* Hidding the black logo only (when the JS is not interferring the DOM class = meaning JS disable)*/
header .scroll:not(header.top img, header.scroll img) {
    opacity: 0;
}

header.top .top,
header.scroll .scroll {
    opacity: 1;
}

header.top .scroll,
header.scroll .top {
    opacity: 0;
}

#logo img {
    transition: all 1s ease;
    width: 100%;
    position: absolute;
}

.slide-show {
    position: fixed;
    z-index: 100;
    opacity: 1;
}

.slide-hide {
    /* we don't use display none because it will cancelled the transition animation 
    on children when slide appear*/
    opacity: 0;
    height: 0 !important;
}

.container.absolute {
    position: absolute;
    /* the margin-bottom is not working */
    margin-top: calc(var(--page-height) * -1);
}

/* Animation on slide show */

.js-on .container .text-box,
.js-on .container .img-box,
.js-on .anim-box {
    position: relative;
    opacity: 1;
    transition: all 800ms ease;
}

.js-on .container .img-box {
    transition-delay: 0ms;
}

/* by default, the priority is 1 for text-box */
.js-on .container .text-box:not(.text-box.priority),
.js-on .container .text-box.priority._1 {
    transition-delay: 100ms;
}

.js-on .container .text-box.priority._2 {
    transition-delay: 200ms;
}

.js-on .container .text-box.priority._3 {
    transition-delay: 300ms;
}

/* On slide on */
.js-on .container.slide-hide .text-box {
    left: -15px;
    opacity: 0;
}
.js-on .container.slide-show .text-box {
    left: 0px;
    opacity: 1;
}

.js-on .container.slide-hide .img-box,
.js-on .anim-box.hide {
    bottom: -10px;
    opacity: 0;
}
.js-on .container.slide-show .img-box,
.js-on .anim-box.show {
    bottom: 0px;
    opacity: 1;
}






.normal-box{
    margin-left: 18%;
}