/*
    CSS only for the landing script
*/

body {
    overflow-y: scroll;
    background: linear-gradient(#004c4c var(--page-height), #fff 95%);
}

#logo .image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 2/ 1; /* auto-height */
    transition: background-image 500ms ease;
}

.top #logo .image {
    background-image: url("./img/logo_white.png");
}

.scroll #logo .image {
    background-image: url("./img/logo.png");
}

#introduction {
    background-color: #171717; /*#254039;*/
    /* background-image: url("./img/first-slide.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center-box.vertical .horizontal-box {
    /* width: 90%; */
    margin: 0 9%;
}

.text-box {
    font-family: var(--main-font);
}

.container.spec_bloc .inline-box:first-child {
    margin-right: 10%;
}

.illustration {
    width: 335px;
}

.container .vertical.center-box {
    width: 100%;
}

.table-box.text-box .h2_2 {
    vertical-align: middle;
    padding-left: 10px;
    font-size: 30px;
    color: var(--color-1);
}

.index {
    color: var(--secondary-color);
    font-size: 90px;
}

.block-box {
    width: 100%;
}

.container[data-view="5"] .panorama-box {
    margin: 20px 0;
}
.container[data-view="5"] .square-img {
    width: 300px;
    background-color: #171717;
    border-radius: 10px;
    overflow: hidden;
}

.quote span {
    display: block;
}

#pre-inscription table {
    margin: auto;
    display: block;
    width: 80%;
}

#pre-inscription input:not(form input[type="submit"], form input[tye="reset"]) {
    width: 100%;
    display: inline-block;
}

#pre-inscription form {
    width: 50%;
    margin-left: 10%;
}

@media (min-width: 3024px) {
    #introduction {
        background-image: url("./img/introduction/3024.png");
    }
}

@media (max-width: 3024px) {
    #introduction {
        background-image: url("./img/introduction/1850.png");
    }
}

@media (max-width: 1850px) {
    #introduction {
        background-image: url("./img/introduction/1295.png");
    }
}

@media (max-width: 1295px) {
    #introduction {
        background-image: url("./img/introduction/1036.png");
    }
}

@media (max-width: 1036px) {
    #introduction {
        background-image: url("./img/introduction/725.png");
    }
}

@media (max-width: 725px) {
    #introduction {
        background-image: url("./img/introduction/485.png");
    }
}

header {
    transition: all 300ms ease;
}

header.top {
    background: transparent;
    box-shadow: unset;
}

header.scroll {
    background: #fff;
}

.slide-show {
    position: fixed;
    z-index: 100;
}

.slide-hide {
    display: none;
}
