/*
    CSS only for the landing script
*/

body {
    overflow-y: scroll;
    /* background: linear-gradient(#004c4c var(--page-height), #fff 95%); */
    /*
        first color : starting after the first view (before the slide)
        second color : for the transition
        thirs color : end color (for the pre_inscriptions form)
    */
    background-image: linear-gradient(
        #004c4c var(--page-height),
        #00aeae 80%
    );
}

#introduction-bkg{
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
}

#body-background img{
    height: 210%;
    top: 50%;
    position: fixed;
    right: 0px;
    transform: translateY(-45%);
    opacity: 0;
    transition: opacity 6s ease;
}

.js-on #body-background img {
    opacity: 0.4;
}

.js-on .slide-show #introduction-bkg{
    opacity: 1;
    transform: scale(1);
}


/* #logo .image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 2/ 1; // auto-height 
    transition: background-image 500ms ease;
} */

#introduction, #introduction-bkg {
    background-color: transparent;/*#171717; #254039;*/
    /* background-image: url("./img/first-slide.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#introduction-bkg{
    height: 100%;
    transform: scale(1.4);
    transition-duration: 6s;
    filter: brightness(0.3);
    background-image: url("../img/introduction/main.jpg");
}
/*
@media (min-width: 3024px) {
    #introduction-bkg {
        background-image: url("../img/introduction/3024.png");
    }
}

@media (max-width: 3024px) {
    #introduction-bkg {
        background-image: url("../img/introduction/1850.png");
    }
}

@media (max-width: 1850px) {
    #introduction-bkg {
        background-image: url("../img/introduction/1295.png");
    }
}

@media (max-width: 1295px) {
    #introduction-bkg {
        background-image: url("../img/introduction/1036.png");
    }
}

@media (max-width: 1036px) {
    #introduction-bkg {
        background-image: url("../img/introduction/725.png");
    }
}

@media (max-width: 725px) {
    #introduction-bkg {
        background-image: url("../img/introduction/485.png");
    }
}
*/
.center-box.vertical, .bottom{
    z-index: 20;
}

.center-box.vertical .horizontal-box {
    /* width: 90%; */
    margin: 0 9%;
}

.text-box {
    font-family: var(--main-font);
}

/*.container.spec_bloc .inline-box:first-child {
    margin-right: 10%;
}*/

.illustration {
    width: 48%;
}

.container .vertical.center-box {
    width: 100%;
}

.table-box.text-box{
    /* Anchor bottom */
    position: relative;
    width: 100%;
}

.table-box.text-box .h2_2 {
    /*vertical-align: middle;*/
    padding-left: 10px;
    font-size: 30px;
    color: var(--color-1);
    /* Anchor bottom */
    position: absolute;
    /*width: 100%;*/
    left: 45px;
    bottom: 0;
    margin: 16px;
}

.index {
    color: var(--secondary-color);
    font-size: 90px;
}

.block-box {
    width: 100%;
}

#etape_5 .panorama-box {
    margin: 20px 0;
    justify-content: center;
    overflow: hidden;
}
#etape_5 .square-img {
    width: 300px;
    background-color: transparent/*#171717*/;
    border-radius: 10px;
    overflow: hidden;
    transition: all 1s ease;
    opacity: 1;
}

#etape_5 .square-img.hide{
    width: 0;
    margin: 0;
    opacity: 0;
}

.quote span {
    display: block;
}

#pre-inscription {
    /* to hide the paging box when he is fading off */
    z-index: 1010;
    top: 0px; /* FIXME why only preinscription slide need this and no others ?*/
    background-image: linear-gradient(#00aeae, #ffffff 40%);
}

#pre-inscription table {
    margin: auto;
    display: block;
    width: 80%;
}

#pre-inscription input:not(form input[type="submit"], form input[tye="reset"]) {
    width: 100%;
    display: inline-block;
}

#pre-inscription form {
    width: 75%;
    margin-left: 13px;
}

#form_container{
    margin-top: 50px;
}

#form_container .indicator-box{
    /*width: 155px;*/
}


header {
    transition: all 150ms ease-out;
}

header.top {
    background: transparent;
    box-shadow: unset;
}

header.scroll {
    background: rgb(255 255 255 / 90%);
}

/* Hidding the black logo only (when the JS is not interferring the DOM class = meaning JS disable)*/
header .scroll:not(header.top img, header.scroll img) {
    opacity: 0;
}

header.top .top,
header.scroll .scroll {
    opacity: 1;
}

header.top .scroll,
header.scroll .top {
    opacity: 0;
}

.scroll ._btt._orange._transparent{
    color : var(--secondary-color);
}

#logo img {
    transition: all 1s ease;
    width: 100%;
    position: absolute;
}

.slide-show {
    position: fixed;
    z-index: 100;
    opacity: 1;
}

.slide-hide {
    /* we don't use display none because it will cancelled the transition animation 
    on children when slide appear*/
    opacity: 0;
    height: 0 !important;
}

.container.absolute {
    position: absolute;
    /* the margin-bottom is not working */
    margin-top: calc(var(--page-height) * -1);
}

#pre-inscription{
    /* TODO to be improved */
    /*height: calc(var(--page-height)/1.5);
    margin-top : calc(var(--page-height)/3.5);*/
}

/* Animation on slide show */

.js-on .container .text-box,
.js-on .container .img-box,
.js-on .anim-box {
    position: relative;
    opacity: 1;
    transition: all 800ms ease;
}

.js-on .container .img-box {
    transition-delay: 0ms;
}

/* by default, the priority is 1 for text-box */
.js-on .container .text-box:not(.text-box.priority),
.js-on .container .text-box.priority._1 {
    transition-delay: 100ms;
}

.js-on .container .text-box.priority._2 {
    transition-delay: 200ms;
}

.js-on .container .text-box.priority._3 {
    transition-delay: 300ms;
}

/* On slide on */
.js-on .container.slide-hide .text-box {
    left: -15px;
    opacity: 0;
}
.js-on .container.slide-show .text-box {
    left: 0px;
    opacity: 1;
}

.js-on .container.slide-hide .img-box,
.js-on .anim-box.hide {
    bottom: -10px;
    opacity: 0;
}
.js-on .container.slide-show .img-box,
.js-on .anim-box.show {
    bottom: 0px;
    opacity: 1;
}






.normal-box{
    margin-left: 18%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition: all 300ms ease;
}


#paging-box {
    position: fixed;
    bottom: 5px;
    z-index: 1000;
    padding: 10px;
    transition: all 600ms ease;
    min-width: 200px;
}

#paging-box *{
    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#paging-box .next{
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms ease;
    text-align: center;
}

#paging-box .next:hover{
    transform: scale(0.9);
}

#paging-box, #paging-box .next{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paging-box.hide{
    opacity: 0;
    bottom: -10%;
}
#paging-box.show{
    opacity: 1;
}

#paging-box .p_2{
    margin: 8px;
}

#dots {
    display: inline-flex;
    transition: opacity 300ms ease;
    cursor: pointer;
}

#dots .dot {
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 7px;
    transition: background 400ms ease;
}

#dots .dot:hover{
    background: var(--primary-color);
}

#dots .dot.on{
    background: var(--secondary-color);
}

#dots.hide{
    opacity: 0;
}
#dots.show{
    opacity: 1;
}




#vid-fonctionnement-1{
    width: 75%;
    margin: auto;
    background: white;
    border-radius: 8px;
}


/* popup et close button provisoire */
#popup{
    position: fixed;
    z-index: 4000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    min-height: 355px;
    height: 45%;
    /*background: #e4eef0;*/
    border-radius: 8px;
    /*box-shadow: 0 1px 2px #979797;*/
}

#popup .close{
    position: absolute;
    right: -8px;
    top: -8px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: none;
    background: #212121;
    color: white;
    font-size: 13px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}


#_footer_links{
    text-align: center;    
}

#_footer_links a{
    display: inline-block;
    margin: 4px 8px;
}

#_footer_links .icon-social img {
    width: 17px;
    vertical-align: text-top;
}

#_footer_links #mentions_legales{
    color : var(--secondary-color);
}

.mobile-br{
    display: inline-block;
}