.center-elmt-box{
    /*height: 105%;*/
}

.index{
    font-size: 65px;
}

.table-box.text-box .h2_2 {
    left: 25px;
    font-size: 17px!important;
}

.p_2, .p_1 {
    font-size: 13px;
    margin: 8px 0px;
}

.h2_1 {
    font-size: 12px;
}

.table-box.text-box .h2_2.long{
    font-size: 15px!important;
    bottom: -5px;
}

._btt {
    font-size: 12px;
}

footer #logo_footer *{
    width: 90px!important;
}

footer * {
    font-size: 12px!important;
}

form input:not(input[type="reset"], input[type="submit"]) {
    font-size: 12px;
}

footer form p {
    margin: 6px 0;
}

#pre-inscription .center-elmt-box, #pre-inscription .normal-box {
    height: 70%;
}

.p_3, .p_4 {
    font-size: 12px;
}

.p_number_1 {
    font-size: 20px;
}

#form_container .indicator-box {
    /*width: 75px;*/
}

#pre-inscription{
    min-height: 550px;
}

footer .text-box._right {
    margin: auto;
}

#introduction .inline-box:last-child {
    top: 0px;
}

.illustration{
    /*overflow: hidden;*/
    height: 240px;
}

#pre-inscription-2{
    display: none;
}

#introduction .center-elmt-box .inline-box:first-child{
    position: relative;
    top: 15px;
}

#etape_5 .panorama-box {
    top: -5%;
}