:root {
    --header-height: 120px;
    --page-side-margin: 10%;
    --main-font: "Montserrat", Arial, sans-serif;
    --primary-color: #003D3B;
    --secondary-color: #FF4E00;
    --color-1: #fff;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../font/Montserrat-Medium.ttf?v=04022022");
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../font/Montserrat-Bold.ttf?v=04022022");
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url("../font/RobotoMono-Regular.ttf?v=04022022");
    font-weight: 400;
}

.mono, .h3-label, .mono span{
    font-family: 'Roboto', 'Montserrat';
}

.txt-special-opacity,
.gallery-box .description,
#les-chiffres-map-txt p span:not(.h3-label){
    opacity: 70%;
}

.mob-only{
    display: none;
    visibility: hidden;
}

body {
    margin: 0;
}

body *{
    font-family: 'Montserrat';
    font-size: 24px;
}

a{
    text-decoration: none;
    transition: all 300ms ease;
}

img{
    pointer-events: none;
}

._txt_orange{
    color: var(--secondary-color)!important;
}

.txt-center{
    text-align: center;
}

._btt {
    background: transparent;
    text-decoration: none;
    text-align: center;
    padding: 17px 22px;
    font-size: 24px;
    border-radius: 4px;
    box-shadow: 
        0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px rgba(0, 0, 0, 0.14),
        0px 1px 5px rgba(0, 0, 0, 0.12);
    transition: all 300ms ease;

    border: 0;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome, Edge, Opera and Firefox */

}

._btt:hover{
    background: var(--primary-color)!important;
}

._btt._orange {
    color: #fff;
    background: var(--secondary-color);
}

._btt._grey {
    color: #fff;
    background: #C4C4C4;
}

.o-hidden{
    overflow: hidden;
}

.m-auto{
    margin: auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Old versions of Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                                                supported by Chrome, Edge, Opera and Firefox */
}

header {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: var(--header-height);
    z-index: 10000;
    box-shadow: 0 4px 13px rgb(0 0 0 / 20%);
}

header nav{
    margin: 0% var(--page-side-margin);
    position: relative;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#landing-first-slide{
    margin-top: 0;
    margin-bottom: 0;
}

#landing-first-slide-left{
    max-width : 55%;
    margin-bottom: 350px;
    position: relative;
    top: 140px;
}

#landing-first-slide-right{
    float: right;
}

#logo, #header-buttons{
    display: inline-block;
}

#logo img {
    vertical-align: middle;
    width: 160px;
}

#logo a.image {
    height: var(--header-height);
    display: inline-block;
    vertical-align: middle;
}

#header-buttons {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#header-buttons ul{
    margin: 0;
    list-style: none;
}

#header-buttons ul li{
    display: inline-block;
}

#header-buttons ul li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--primary-color);
    margin: 0 20px;
    transition: all 200ms ease;
}

#header-buttons ul li a:hover,
#header-buttons ul li a.on
{
    color: var(--secondary-color);
}

/*
    ######################
*/

.wrap-content {
    margin: var(--header-height) auto;
    max-width: 2000px;
    min-width: 1400px;
    overflow: hidden;
    margin-bottom: 10px!important;
}

.inline-b, .sub_section{
    display: inline-block;
}

.sub_section{
    text-align: left;
}

section{
    /*text-align: center;*/
    position: relative;
    margin: 200px var(--page-side-margin);
}

.wrap-content > section{
    margin-top: 62px;
}

footer{
    position: relative;
    margin: 30px var(--page-side-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#big-c{
    position: relative;
    width: 60%;
    aspect-ratio: 1 / 1;

    margin-left: auto;
    top: 85px;
    margin-bottom: 85px;
}

#big-c img{
    width: 100%;
    vertical-align: middle;
    z-index: 30;
    position: relative;
    top: 0;
    transform: rotate(0deg);
    animation: big-c-phone-float 3s ease infinite;
}

#big-c:before {
    content: '';
    background-image: url(../img/illustrations/CYCLE_0_FOND.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 255%;
    /* height: 100%; */
    aspect-ratio: 1 / 1;
    position: absolute;
    opacity: 0.1;
    z-index: 20;
    top: -170px;
    left: -145px;
}


@keyframes big-c-phone-float{
    0%{ top: 0px; }
    50%{ top: -15px; }
    100%{ top: 0px; }
}

#landing-h1-slide2{
    margin-bottom: 78px;
}

.social_link, .social_link img{
    height: 46px;
    margin: 0;
    display: inline-block;
}

.h1, .h1-label, .h2{
    color : var(--primary-color);
    font-weight: 700;
}

.h1{
    font-size: 45px;
    font-weight: 700;
}

.h2{
    font-size: 32px;
    font-weight: 700;
}

.h1-label{
    font-size: 44px;
    margin: 0;
}

.h2-label{
    font-size: 36px;
    color: black;
    margin: 0 0 34px 0;
}

.h3-label{
    color: var(--secondary-color);
    font-size: 36px;
    margin: 0;
    font-weight: 700;
}

.h4-label{
    font-size: 24px;
}

.description{
    font-size: 20px;
    width: 82%;
    margin: auto;
}

.h4-label{
    margin: 0 0 39px 0;
}

.h4bis-label{
    margin: 0;
}

.p1{
    color: var(--primary-color);
}

.p2{
    color: #000;
    font-size: 15px;
    margin: 0;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.gallery-box {
    position: relative;
    width: 33%;
    min-width: 345px;
    box-sizing: border-box;
    padding: 0 2%;

    top: 50px;
    opacity: 0;
    transition: all 1.5s ease;
}

.gallery-box.show{
    top: 0px;
    opacity: 1;
}

.gallery-img {
    height: 150px;
}

.gallery-box h3{
    white-space: nowrap;
    font-size: 32px;
    color: var(--primary-color);
}

#les-chiffres{
    display: flex;
    justify-content: space-between;
}

#les-chiffres .video{
    width: 100%;
    max-width: 655px;
    pointer-events: none;
}

#les-chiffres > div {
    position: relative;
}

#les-chiffres .right-box{
    text-align: right;
}

#les-chiffres ._btt.mob-hide {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#les-chiffres .external-link{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: underline;
    white-space: nowrap;
}

#les-chiffres-map-txt {
    width: 50%;
}

#les-chiffres-map-carte img {
    width: 100%;
}

#les-chiffres-map-carte {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    max-width: 500px;
}

#les-chiffres-map p {
    margin-top: 50px;
}



.bandeau-elmt p {
    color: var(--primary-color);
    font-size: 40px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    white-space: nowrap;
}

.bandeau-elmt {
    display: inline-block;
    margin-left: 8px;
}

.gallery-box .arrow-next-img,
.gallery-box .arrow-prev-img,
.gallery-box .arrow-follow-img {
    background-image: url("../img/icons/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 15;
    top: 20%;
    right: 0;
    width: 47px;
    height: 23px;
}

.gallery-box .arrow-prev-img{
    right: unset;
    left: 0;
    transform: rotate(-180deg);
}

.bandeau-box img {
    width: 70px;
    margin: 0 4px 0 40px;
}

.bandeau-box *{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.bandeau-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 70px 0;
    transform: translateX(0);
    transition: transform 2.1s linear;
}

.bandeau-box .anim{
    transform: translateX(0%);
    animation: scrollTxt 25s linear infinite;
}

/*.bandeau-box:hover .anim{
    animation-play-state: paused;
}*/

@keyframes scrollTxt {
    0%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#landing-foot {
    background: rgba(0, 58, 58, 0.2);
    border: 1px solid transparent;
}

#landing-foot section {
    margin: 80px var(--page-side-margin);
}

#landing-foot p {
    margin-top: 60px;
    margin-bottom: 80px;
}

#landing-foot .txt-container{
    width: 62%;
    margin: auto;
    line-height: 35px;
    max-width: 800px;
}

#landing-foot .anim-picto{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1 / 1;
}

#landing-foot .picto1{
    background-image: url("../img/icons/Picto_01.png");
    width: 116px;
    left: -195px;
    bottom: 0;
}
#landing-foot .picto2{
    background-image: url("../img/icons/Picto_02.png");
    width: 88px;
    right: -20px;
    bottom: 40px;
}
#landing-foot .picto4{
    background-image: url("../img/icons/Picto_04.png");
    width: 81px;
    top: -40px;
    left: 0;
}
#landing-foot .picto8{
    background-image: url("../img/icons/Picto_08.png");
    width: 105px;
    right: 40px;
    top: 25px;
}


footer ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    padding-inline-start: 0;
}

footer ul.footer-links {
    margin-top: 0;
    margin-bottom: 35px;
}

footer .footer-links a {
    color: var(--secondary-color);
    font-weight: 700;
}

footer .footer-links a:hover {
    color: var(--primary-color);
}

footer .footer-links a, footer .social-links a {
    margin: 0 20px;
}

footer .social-links a {
    background: var(--primary-color);
    width: 80px;
    aspect-ratio: 1/1;
    display: inline-flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

footer .social-links a:hover{
    background: var(--secondary-color);
}

footer .social-links a img {
    max-height: 40px;
    max-width: 40px;
}

footer .intro-store-links {
    position: absolute;
    bottom: 0;
}




/*

##########################
CHANTIERS.HTML
##########################

*/

#search-chantiers {
    border-bottom: 2px solid #0000000F;
    margin-bottom: 42px;
}

#search-chantiers ._btt{
    font-size: 20px;
}

#main-searchbar input {
    padding: 17px 46px 17px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

#main-searchbar {
    display: inline-block;
    margin: 0px 25px 28px 0;
    width: 42%;
    box-sizing: border-box;
    position: relative;
}

#main-searchbar:after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/icons/search-icons.png");
    width: 18.95px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    right: 20.53px;
    transform: translateY(-50%);
}



.search-content-box .table .illustration img {
    width: 60px;
}

.search-content-box .logo {
    max-width: 214Px;
    max-height: 97px;
}

.search-content-box {
    transition: all 200ms ease;
    padding-top: 16px;
    border-radius: 4px;
    box-shadow: 0px 8px 24px rgba(39, 1, 38, 0.12);
    margin: 20px 0;
}

.search-content-box:hover{
    box-shadow: 0px 8px 24px rgba(39, 1, 38, 0.22);
}

.search-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-content-box .table.left-box{
    padding-right: 27px;
}

.search-content-box .table .illustration {
    display: inline;
}

.search-content-box .cell {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 20px 0;
}

.search-content-box .data * {
    margin: 0;
}

.search-content-box .data {
    margin-left: 21px;
}

.search-content-box .content {
    display: flex;
    justify-content: space-around;
    margin: 22px 24px 0px 24px;
}

.search-content-box .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.switcher{
    display: block;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.switcher-btt {
    display: inline-block;
    background: transparent;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    margin: 0 4px;
    transition: background 400ms ease;
}

.switcher-btt.on{
    background: var(--primary-color);
}